packaging_format = 2
id = "solivote"
name = "Solivote"
description.en = "Voting system made by the French student union Solidaires Étudiant-e-s"
description.fr = "Système de vote numérique créé par le syndicat Solidaires Étudiant-e-s"

version = "0.5~ynh1"

maintainers = ["Armelclo"]


[upstream]
license = "AGPL-3.0"
code = "https://github.com/Solidaires-Etudiant-e-s/Solivote"

[integration]
yunohost = ">= 11.1"
helpers_version = "2.1"
architectures = "all"
multi_instance = false
ldap = true
sso = true
disk = "100M"
ram.build = "1G"
ram.runtime = "512M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "all_users"

[resources]
    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/Solidaires-Etudiant-e-s/Solivote/archive/refs/tags/v0.5.zip"
    sha256 = "8bb7090f587e81106636717ea01fc61eccea2c13ff69027c40404feb8474fedd"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.ports]

    [resources.permissions]
    main.url = "/"
    main.allowed = "all_users"

    [resources.apt]
    packages = "mariadb-server"

    [resources.database]
    type = "mysql"

    [resources.nodejs]
    version = "22"

    [resources.data_dir]
